.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar{
    width: 50%;
}

.navbar ul{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.navbar-btn{
    margin: 10px;
    color: white;
    font-size: 0.8em;
}

.btn-especial{
    color:#00F57F;
    border-right: solid 2px #00F57F;
    padding-right: 10px;    
}

.btn-burger{
    display: none;
}

@media (max-width: 500px) {
    .navbar{
    display: none;
    }

    .header{
     justify-content:center;
     flex-direction: column;
     align-items: center;
    }

    .btn-burger{
     display:flex;
     justify-content:flex-end;
     padding: 10px;
     width: 100%;      
    }

    .btn-burger button{
     background-color: #00F57F;
     color: white;
     border-radius: 20px;
     border: none;
     padding: 10px;
    }

    .logo{
     width: 50%;
    }
}