.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.navbar{
    width: 50%;
}

.navbar ul{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

.navbar-btn{
    margin: 10px;
    color: white;
    font-size: 0.8em;
}

.btn-especial{
    color:#00F57F;
    border-right: solid 2px #00F57F;
    padding-right: 10px;    
}